

.available {
    background-color: limegreen;
    padding: 10px;
    border: 1px dotted limegreen;
    color: black;
}

.notAvailable{
  background-color: crimson;
  padding: 5px;
  border: 1px dotted crimson;
  color: black;
}

#app {
    text-align: center;
    padding:  10 px;
}

li {
border: 10px ;
}

@media screen and (max-width: 500px) {
    div div {
      width: 40%;
      margin: 5%;
    }
    img {
      width: 100%;
    }
  }
  